{
  "parser": "babel-eslint",
  "plugins": ["prettier", "react-hooks"],
  "extends": ["airbnb", "prettier", "prettier/react"],
  "globals": {
    "document": true,
    "window": true,
    "process": true
  },
  "rules": {
    "jsx-a11y/anchor-is-valid": 0,
    "jsx-a11y/label-has-for": 0,
    "jsx-a11y/label-has-associated-control": 0,
    "prettier/prettier": "error",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "react/prop-types": 0,
    "react/no-array-index-key": 0,
    "no-underscore-dangle": 0,
    "import/imports-first": ["error", "absolute-first"],
    "import/newline-after-import": "error",
    "react-hooks/rules-of-hooks": "error", // Checks rules of Hooks
    "react-hooks/exhaustive-deps": "warn",
    "global-require": 0
  },
  "overrides": [
    {
      "files": ["**/*.spec.js", "**/*.spec.jsx"],
      "env": {
        "jest": true
      }
    }
  ]
}
